@media (min-width: 1200px) {
    .container{
        max-width: 800px;
        border-radius: 20px;
    }
}

body{
    background-image: url("https://images.unsplash.com/photo-1610486458571-3c2e1b28cd16?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

#summary-stock #complete-details-stock #company-offices-stock #address-stock{
    background-color: #de8971;
}

/* head {
    background-color: #e2703a;
} */
.success {
    color: white;
    font-size: 1.5rem;
}

.error {
    color: red;
    font-size: 1.5rem;
}

.chart-sizing {
    margin-top: 20px;
    width: 800px;
    height: 400px;
}

#refresh-btn:hover {
    background-color: white;
    outline: green;
    color: green;
}

.unfollow:hover {
    background-color: white;
    outline: blue;
    color: blue;
}
.follow-cls:hover {
    background-color: white;
    outline: blue;
    color: blue;
}
.remove-btn:hover{
    background-color: white;
    outline: red;
    color: red;
}

.unfollow:hover span {
    display: none;
}

.unfollow:hover:before {
    content: "Unfollow";
}

.price {
    text-decoration: solid;
}

.not {
    color: green;
}

.stock-detail {
    background-color: #f5f7b2;
}