@media (min-width: 1200px) {
    .container{
        max-width: 800px;
        border-radius: 20px;
    }
}

body {
    background-color: #b4a5a5;
}

head {
    background-color: #e2703a;
}
.success {
    color: green;
}

.error {
    color: red;
}