{% extends 'base.html' %}
{% block title %}stock page{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark clearfix">
    <a class="navbar-brand" href="/users/{{username}}">Trade Screener</a>
    <ul class="nav navbar-nav pull-right">
        <li class="nav-item"><a class = "nav-link" href="/logout">Logout</a></li>
    </ul>
</nav>

<div class="container">
<table class="table table-dark text-center my-3">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Ticker Symbol</th>
        <th scope="col">Region</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="stock-page-name"></td>
        <td class="stock-page-ticker"></td>
        <td class="stock-page-region"></td>
        <td class="stock-page-price"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
    <canvas id="myChart" width="400" height="400"></canvas>
</div>

<script>
    function convertUnix(timestamp){
    // Create a new JavaScript Date object based on the timestamp
    // multiplied by 1000 so that the argument is in milliseconds, not seconds.
    let date = new Date(timestamp * 1000);
    // Hours part from the timestamp
    let hours = date.getHours();
    // Minutes part from the timestamp
    let minutes = "0" + date.getMinutes();
    // Seconds part from the timestamp
    let seconds = "0" + date.getSeconds();

    // Will display time in 10:30:23 format
    let formattedTime = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);

    return formattedTime;
}

document.getElementById("search-form").addEventListener('submit', values);

async function values(e){
    e.preventDefault();
    const options = {
        method: 'GET',
        url: 'https://apidojo-yahoo-finance-v1.p.rapidapi.com/market/get-charts',
        params: {
          symbol: document.getElementById("symbol").value,
          interval: '5m',
          range: '1d',
          region: document.getElementById("region").value
        },
        headers: {
          'x-rapidapi-key': '1485ec3af1msh7c54fae5d48e5cap1ef8c9jsn9f5c4864e654',
          'x-rapidapi-host': 'apidojo-yahoo-finance-v1.p.rapidapi.com'
        }
    };
    const closedPrice = axios.request(options).then(function (response) {
        return response.data.chart.result[0].indicators.quote[0].close
      }).catch(function (error) {
          console.error(error);
      });
    
    const timeStamop = axios.request(options).then(function (response) {
        return response.data.chart.result[0].timestamp;
      }).catch(function (error) {
          console.error(error);
      });

    const xPrice = await closedPrice;
    const yTimestamp = await timeStamop;
    const yFormatted = yTimestamp.map(t =>
          convertUnix(t));
    console.log(yFormatted);
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: yFormatted,
          datasets: [{
              label: '# of Votes',
              data: xPrice,
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: false
              }
          }
      }
  });
}
</script>

{% endblock %}