{% extends 'base.html' %}
{% block title %}stock page{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark clearfix">
    <a class="navbar-brand" href="/users/{{user.username}}">Trade Screener</a>
    <ul class="nav navbar-nav pull-right">
      <li class="nav-item"><a class="nav-link" href="/users/{{user.username}}/profile">{{user.username}}</a></li>
      <li class="nav-item"><a class = "nav-link" href="/logout">Logout</a></li>
  </ul>
</nav>

{% for category, msg in get_flashed_messages(with_categories=true) %}
<p class="{{category}}">{{ msg }}</p>
{% endfor %}
<div class="container">
  <div class="row">
    <div class="col-10">
      <table class="table table-dark text-center my-3">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Ticker Symbol</th>
            <th scope="col">Region</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class = "chartData-name" data-name="{{data["name"]}}">{{data["name"]}}</td>
            <td class = "chartData-symbol" data-symbol="{{data["symbol"]}}">{{data["symbol"]}}</td>
            <td class = "chartData-region" data-region="{{data["region"]}}">{{data["region"]}}</td>
            <td class = "chartData-price" data-price="{{data["price"]}}">{{data["price"]}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-2">
      <form action="" id=follow-form>
        {% if stock %}
        <input type="hidden" id="hidden-id" value="{{stock.id}}">
        {% elif crypto %}
        <input type="hidden" id="hidden-id" value="{{crypto.id}}">
        {% else %}
        <input type="hidden" id="hidden-id" value="error">
        {% endif %}
        <input type="hidden" id="hidden-type" value="{{data["type"]}}">
        <input type="hidden" id="hidden-name" value="{{data["name"]}}">
        <input type="hidden" id="hidden-symbol" value="{{data["symbol"]}}">
        <input type="hidden" id="hidden-region" value="{{data["region"]}}">
        <input type="hidden" id="hidden-price" value="{{data["price"]}}">
      <button class="btn btn-primary btn-lg mt-3 py-2 follow-cls" id="follow-btn"><span>Follow</span></button>
    </form>
    </div>
  </div>
</div>



<div class="container">
  <form action="" id="chart-form">
    <label for="interval">Interval:</label>
    <select name="interval" id="interval">
      <option value="1m">1m</option>
      <option value="2m">2m</option>
      <option value="5m">5m</option>
      <option value="15m">15m</option>
      <option value="60m">60m</option>
      <option value="1d">1d</option>
    </select>

      <label for="range">Range:</label>
      <select name="range" id="range">
        <option value="1d">1d</option>
        <option value="5d">5d</option>
        <option value="1mo">1mo</option>
        <option value="3mo">3mo</option>
        <option value="6mo">6mo</option>
        <option value="1y">1y</option>
        <option value="2y">2y</option>
        <option value="5y">5y</option>
        <option value="10y">10y</option>
        <option value="ytd">ytd</option>
        <option value="max">max</option>
    </select>
    <br><br>
    <button class="btn btn-primary btn-md">Show Chart</button>
  </form>
</div>

<div class="container my-2" id= "chart" style="background-color: white"">
    <!-- <canvas id="myChart" width="800" height="400"></canvas> -->
</div>

{% endblock %}