{% extends 'base.html' %}
{% block title %}stock page{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between d-flex">
    <a class="navbar-brand" href="/users/{{user.username}}">Trade Screener</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav d-flex ml-auto">
        <li class="nav-item"><a class="nav-link" href="/users/{{user.username}}/profile">{{user.username}}</a></li>
        <li class="nav-item"><a class = "nav-link" href="/logout">Logout</a></li>
      </ul>
    </div>
</nav>

{% for category, msg in get_flashed_messages(with_categories=true) %}
<p class="{{category}}">{{ msg }}</p>
{% endfor %}

<!--  -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-dark text-center my-3 search-table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Ticker Symbol</th>
            <th scope="col">Region</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class = "chartData-name" data-name="{{data["name"]}}">{{data["name"]}}</td>
            <td class = "chartData-symbol" data-symbol="{{data["symbol"]}}">{{data["symbol"]}}</td>
            <td class = "chartData-region" data-region="{{data["region"]}}">{{data["region"]}}</td>
            <td class = "chartData-price" data-price="{{data["price"]}}">{{data["price"]}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="follow-div">
      <form action="" id=follow-me-form>
        {% if stock %}
        <input type="hidden" id="hidden-id" value="{{stock.id}}">
        {% elif crypto %}
        <input type="hidden" id="hidden-id" value="{{crypto.id}}">
        {% else %}
        <input type="hidden" id="hidden-id" value="error">
        {% endif %}
        <input type="hidden" id="hidden-type" value="{{data["type"]}}">
        <input type="hidden" id="hidden-name" value="{{data["name"]}}">
        <input type="hidden" id="hidden-symbol" value="{{data["symbol"]}}">
        <input type="hidden" id="hidden-region" value="{{data["region"]}}">
        <input type="hidden" id="hidden-price" value="{{data["price"]}}">
      <button class="btn btn-primary btn-lg mt-3 py-2 follow-cls" id="follow-me-btn"><span>Follow</span></button>
    </form>
    </div>
  </div>
</div>




<!-- Stock/crypto data -->
{% if stock %}
<div class="container my-5 p-3 content-cont" id="summary-stock" style="background-color: #343a40;">
  <h3 class="text-center">Summary</h3>
  <p>{{stock_data["summary"]}}</p>
</div>

<section class="container links">
  <section class="other-links-cont">
    <div class="head">
      <h3><span>Other Interesting Reads Links</span></h3>
    </div>
    <div class="body">
      <ul>
        {% for value in stock_data["company_details"] %}
        <li><a href="{{value['edgarUrl']}}" target="_blank">{{value["title"]}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </section>
</section>

<div class="container text-center my-5 p-3 content-cont" id="company-officers-stock" style="background-color: #343a40;">
  <div class="row">
    <div class="col">
      <h3>NAMES</h3>
  {% for value in stock_data["officers"] %}
  <p>{{value["name"]}}</p>
  {% endfor %}
    </div>
    <div class="col">
      <h3>TITLES</h3>
      {% for value in stock_data["officers"] %}
      <p>{{value["title"]}}</p>
      {% endfor %}
    </div>
  </div>
</div>

<div class="container-fluid text-center my-5 p-3 content-cont" id="addrress-stock" style="background-color: #343a40;">
  <h3>Full Address</h3>
  <p>{{stock_data["address"]["address"]}}, {{stock_data["address"]["city"]}}, {{stock_data["address"]["state"]}}
    ({{stock_data["address"]["zip"]}}), {{stock_data["address"]["country"]}}
  </p>
  <p>Industry: {{stock_data["address"]["industry"]}}</p>
  <p>Website: {{stock_data["address"]["website"]}}, Phone: {{stock_data["address"]["phone"]}}</p>
</div>
{% endif %}




{% if crypto %}

<div class="container my-5 p-3 content-cont" id="summary-crypto" style="background-color: #343a40;">
  <h3 class="text-center">Summary</h3>
  <p>{{crypto_data["summary"]}}</p>
</div>


{% if crypto_data["company_details"]["title"] %}
<section class="container links">
  <section class="other-links-cont">
    <div class="head">
      <h3><span>Other Interesting Reads Links</span></h3>
    </div>
    <div class="body">
      <ul>
        {% for value in crypto_data["company_details"]["titles"] %}
        <li><a href="{{value['edgarUrl']}}" target="_blank">{{value["title"]}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </section>
</section>
{% endif %}

{% if crypto_data["officers"] %}
<div class="container text-center my-5 p-3 content-cont" id="company-officers-crypto" style="background-color: #343a40;">
  <div class="row">
    <div class="col">
      <h3>NAMES</h3>
  {% for value in crypto_data["officers"] %}
  <p>{{value["name"]}}</p>
  {% endfor %}
    </div>
    <div class="col">
      <h3>TITLES</h3>
      {% for value in crypto_data["officers"] %}
      <p>{{value["title"]}}</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<!-- {% if crypto_data["address"]["address"] %}
<div class="container-fluid text-center my-5 p-3 content-cont" id="addrress-crypto" style="background-color: #343a40;">
  <h3>Full Address</h3>
  <p>{{crypto_data["address"]["address"]}}, {{crypto_data["address"]["city"]}}, {{crypto_data["address"]["state"]}}
    ({{crypto_data["address"]["zip"]}}), {{crypto_data["address"]["country"]}}
  </p>
  <p>{{crypto_data["address"]["industry"]}}</p>
  <p>Website: {{crypto_data["address"]["website"]}}, Phone: {{crypto_data["address"]["phone"]}}</p>
</div>
{% endif %} -->

{% endif %}

{% endblock %}