{% extends 'base.html' %}
{% block title %}User Page{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between">
  <a class="navbar-brand" href="">Trade Screener</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form form-horizontal d-inline-flex p-2" action="/market/stock-crypto/search", method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
    <p class="mx-2">
    {{ field(class_="form-control") }}
    {% for error in field.errors %}
        <span class="form-text text-danger">{{ error }}</span>
    {% endfor %}
    {% endfor %}
    </p>
    <button class="btn btn-outline-success btn-md my-1 mx-3 my-sm-0 p text-center" style="height: 40px;" type="submit">Search</button>
    </form>
    <ul class="nav navbar-nav ml-auto p-10">
      <li class="nav-item"><a class="nav-link "text-capitalize" href="/users/{{user.username}}/profile">{{user.username}}</a></li>
      <li class="nav-item"><a class = "nav-link" href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>

{% for category, msg in get_flashed_messages(with_categories=true) %}
<p class="{{category}}">{{ msg }}</p>
{% endfor %}

<div class="container head">
    <h1 class="text-center text-dark">{{user.first_name}} {{user.last_name}}</h1>
</div>


<div class="container">
    <div class="row my-5">
        <div class="col-md">
            <h2 class="text-center text-dark">Trending Stocks</h2>
              <table class="table table-secondary trending-table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Symbol</th>
                    <th scope="col">Price</th>
                  </tr>
                </thead>
                <tbody>
                  
                  {% for stock in stocks %}
                  <tr>
                    <td>{{stock["name"]}}</td>
                    <td><b>{{stock["symbol"]}}</b></td>
                    <td><b>{{stock["price"]}}</b></td>

                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
          </div>


          {% if cryptos %}
          <div class="col-md">
              <h2 class="text-center text-dark">Trending Crypto</h2>
              <table class="table table-secondary trending-table">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Symbol</th>
                      <th scope="col">Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for crypto in cryptos %}
                  <tr>
                    <td>{{crypto["name"]}}</td>
                    <td><b>{{crypto["symbol"]}}</b></td>
                    <td><b>{{crypto["price"]}}</b></td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
          </div>
          {% endif %}
  </div>
</div>

{% endblock %}