{% extends 'base.html' %}
{% block title %}stock page{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand" href="/users/{{user.username}}">Trade Screener</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav d-flex ml-auto">
      <li class="nav-item"><a class="nav-link" href="/users/{{user.username}}/profile">{{user.username}}</a></li>
      <li class="nav-item"><a class = "nav-link" href="/logout">Logout</a></li>
  </ul>
  </div>
</nav>

{% for category, msg in get_flashed_messages(with_categories=true) %}
<p class="{{category}} note">{{ msg }}</p>
{% endfor %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-dark text-center my-3 table-detail">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Ticker Symbol</th>
            <th scope="col">Region</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% if stock %}
            <td class = "chartData-name-user" data-name="{{stock.stock_name}}">{{stock.stock_name}}</td>
            <td class = "chartData-symbol-user" data-symbol="{{stock.ticker_symbol}}">{{stock.ticker_symbol}}</td>
            <td class = "chartData-region-user" data-region="{{stock.region}}">{{stock.region}}</td>
            <td class = "chartData-price-user" data-price="{{stock.price}}">{{stock.stock_price}}</td>
            {% endif %}
            {% if crypto %}
            <td class = "chartData-name-user" data-name="{{crypto.crypto_name}}">{{crypto.crypto_name}}</td>
            <td class = "chartData-symbol-user" data-symbol="{{crypto.ticker_symbol}}">{{crypto.ticker_symbol}}</td>
            <td class = "chartData-region-user" data-region="{{crypto.region}}">{{crypto.region}}</td>
            <td class = "chartData-price-user" data-price="{{crypto.crypto_price}}">{{crypto.crypto_price}}</td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    <div class="refresh-div">
      {% if stock %}
      <form class="mt-3" id="refresh-form">
        <input type="hidden" id="refresh-username" value="{{user.username}}">
        <input type="hidden" id="refresh-id" value="{{stock.id}}">
        <input type="hidden" id="refresh-type" value="{{stock.which_type}}">
        <input type="hidden" id="refresh-name" value="{{stock.stock_name}}">
        <input type="hidden" id="refresh-symbol" value="{{stock.ticker_symbol}}">
        <input type="hidden" id="refresh-region" value="{{stock.region}}">
        <button class="btn btn-success btn-lg justify-content-end" id="refresh-btn">Refresh</button>
      </form>
      {% endif %}
      {% if crypto %}
      <form class="mt-3" id="refresh-form">
        <input type="hidden" id="refresh-username" value="{{user.username}}">
        <input type="hidden" id="refresh-id" value="{{crypto.id}}">
        <input type="hidden" id="refresh-type" value="{{crypto.which_type}}">
        <input type="hidden" id="refresh-name" value="{{crypto.crypto_name}}">
        <input type="hidden" id="refresh-symbol" value="{{crypto.ticker_symbol}}">
        <input type="hidden" id="refresh-region" value="{{crypto.region}}">
        <button class="btn btn-success btn-lg justify-content-end" id="refresh-btn">Refresh</button>

      </form>
      {% endif %}
    </div>
</div>





<div class="container chart">
  <h3 class="text-center" style="color: #fff;">Price Chart</h3>
  <form action="" id="chart-form-user">
    <label class="text-light" for="interval">Interval:</label>
    <select name="interval" id="interval-user">
      <option value="1m">1m</option>
      <option value="2m">2m</option>
      <option value="5m">5m</option>
      <option value="15m">15m</option>
      <option value="60m">60m</option>
      <option value="1d">1d</option>
    </select>

      <label class="text-light" for="range">Range:</label>
      <select name="range" id="range-user">
        <option value="1d">1d</option>
        <option value="5d">5d</option>
        <option value="1mo">1mo</option>
        <option value="3mo">3mo</option>
        <option value="6mo">6mo</option>
        <option value="1y">1y</option>
        <option value="2y">2y</option>
        <option value="5y">5y</option>
        <option value="10y">10y</option>
        <option value="max">max</option>
    </select>
    <br><br>
    <button class="btn btn-primary btn-md chart-btn">Show Chart</button>
  </form>
</div>

<div class="container my-2" id= "chart-user" style="background-color: white""></div>



<!-- Stock/crypto data -->
{% if stock %}
<div class="container my-5 p-3 content-cont" id="summary-stock" style="background-color: #343a40;">
  <h3 class="text-center">Summary</h3>
  <p>{{stock_data["summary"]}}</p>
</div>

<section class="container links">
  <section class="other-links-cont">
    <div class="head">
      <h3><span>Other Interesting Reads Links</span></h3>
    </div>
    <div class="body">
      <ul>
        {% for value in stock_data["company_details"] %}
        <li><a href="{{value['edgarUrl']}}" target="_blank">{{value["title"]}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </section>
</section>

<div class="container text-center my-5 p-3 content-cont" id="company-officers-stock" style="background-color: #343a40;">
  <div class="row">
    <div class="col">
      <h3>NAMES</h3>
  {% for value in stock_data["officers"] %}
  <p>{{value["name"]}}</p>
  {% endfor %}
    </div>
    <div class="col">
      <h3>TITLES</h3>
      {% for value in stock_data["officers"] %}
      <p>{{value["title"]}}</p>
      {% endfor %}
    </div>
  </div>
</div>

<div class="container text-center my-5 p-3 content-cont" id="addrress-stock" style="background-color: #343a40;">
  <h3>Full Address</h3>
  <p>{{stock_data["address"]["address"]}}, {{stock_data["address"]["city"]}}, {{stock_data["address"]["state"]}}
    ({{stock_data["address"]["zip"]}}), {{stock_data["address"]["country"]}}
  </p>
  <p>Industry: {{stock_data["address"]["industry"]}}</p>
  <p>Website: {{stock_data["address"]["website"]}}, Phone: {{stock_data["address"]["phone"]}}</p>
</div>
{% endif %}




{% if crypto %}

<div class="container my-5 p-3 content-cont" id="summary-crypto" style="background-color: #343a40;">
  <h3 class="text-center">Summary</h3>
  <p>{{crypto_data["summary"]}}</p>
</div>

{% if crypto_data["company_details "]%}
<section class="container links">
  <section class="other-links-cont">
    <div class="head">
      <h3><span>Other Interesting Reads Links</span></h3>
    </div>
    <div class="body">
      <ul>
        {% for value in crypto_data["company_details"]["titles"] %}
        <li><a href="{{value['edgarUrl']}}" target="_blank">{{value["title"]}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </section>
</section>
{% endif %}


{% if crypto_data["officers"] %}
<div class="container text-center my-5 p-3 content-cont" id="company-officers-crypto" style="background-color: #343a40;">
  <div class="row">
    <div class="col">
      <h3>NAMES</h3>
  {% for value in crypto_data["officers"] %}
  <p>{{value["name"]}}</p>
  {% endfor %}
    </div>
    <div class="col">
      <h3>TITLES</h3>
      {% for value in crypto_data["officers"] %}
      <p>{{value["title"]}}</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<!-- {% if crypto_data["address"] %}
<div class="container-fluid text-center my-5 p-3 content-cont" id="addrress-crypto" style="background-color: #343a40;">
  <h3>Full Address</h3>
  <p>{{crypto_data["address"]["address"]}}, {{crypto_data["address"]["city"]}}, {{crypto_data["address"]["state"]}}
    ({{crypto_data["address"]["zip"]}}), {{crypto_data["address"]["country"]}}
  </p>
  <p>{{crypto_data["address"]["industry"]}}</p>
  <p>Website: {{crypto_data["address"]["website"]}}, Phone: {{crypto_data["address"]["phone"]}}</p>
</div>
{% endif %} -->

{% endif %}
{% endblock %}